body
{
    background-color:black;
    color:white;
}
h1
{
    text-align: center;
}
a:link a:visited
{
    background-color: #105268;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}